go 1.25.0

use (
	./sdk/go
	./services/admin-api
	./services/api-gateway
	./services/common/documents
	./services/common/email
	./services/common/env
	./services/common/obs
	./services/common/webhookprov
	./services/developer-api
	./services/public-api
	./services/sandbox-operator
)
