#include "Flutter/Debug.xcconfig"
#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug-consumer.xcconfig"
PRODUCT_BUNDLE_IDENTIFIER = com.banza.consumer.sandbox
FLUTTER_TARGET = lib/main_consumer.dart
APP_FLAVOR = consumer_sandbox
APP_DISPLAY_NAME = Banza Sandbox
CODE_SIGN_ENTITLEMENTS = Runner/Runner-Debug.entitlements
