{
  "openapi": "3.0.3",
  "info": {
    "title": "Banzami Sandbox API",
    "version": "docs-2026-09-14",
    "description": "Machine-readable description of the Banzami Developer API as served by the Public Sandbox — one developer platform, two financial environments. The Sandbox is self-service and uses fictitious value. Financial LIVE is NOT READY: it requires institutional approval and is fail-closed — bz_live_ keys are refused and no Live key can be issued from the Sandbox. PT docs: developers.banzami.com/docs · EN docs: developers.banzami.com/docs/en. Every operation described is served by the deployed Sandbox gateway; an operation a developer key cannot call says so and names the refusal it answers. Each operation names the scope it requires in x-banzami-scope (null for a route that takes no API key). POST /v1/payment-links/{id}/mark-used is retired (410 ROUTE_RETIRED) and is not described. All example values are obvious placeholders (bz_test_sk_XXXX, idem_xxx, payment_session_xxx, bzst_xxx) — never real credentials."
  },
  "servers": [
    {
      "url": "https://sandbox-api.banzami.com",
      "description": "Banzami Sandbox — operational for integration; money is fictitious"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "identity",
      "description": "Developer key identity (released developer-key surface)"
    },
    {
      "name": "payment-sessions",
      "description": "Payment sessions — Sandbox, gated by scope + project binding"
    },
    {
      "name": "payment-links",
      "description": "Payment links — Sandbox, gated by scope + project binding"
    },
    {
      "name": "application-settlements",
      "description": "Application settlements — close out a segregated account to a beneficiary @banza, priced by Banzami"
    },
    {
      "name": "refunds",
      "description": "Refunds of your own payments — Sandbox, gated by scope + project binding"
    },
    {
      "name": "webhooks",
      "description": "Webhook endpoints, events and deliveries of your project's owner"
    },
    {
      "name": "handles",
      "description": "@banza lookup — confirm a destination exists before naming it"
    },
    {
      "name": "receipts",
      "description": "Public verification of a payment receipt by its proof reference. No credential."
    },
    {
      "name": "sandbox",
      "description": "Sandbox test data — deterministic scenarios and test payers owned by your Project. Sandbox keys only; fictitious value."
    },
    {
      "name": "realtime",
      "description": "Realtime status of one Payment Session for a browser page, opened by a short-lived status token — not an API key, and not proof of payment."
    }
  ],
  "paths": {
    "/v1/me": {
      "get": {
        "tags": [
          "identity"
        ],
        "operationId": "getMe",
        "summary": "Key identity (first successful call — no SDK required)",
        "x-banzami-scope": "identity:read",
        "description": "Returns the authenticated key's environment, the Project it belongs to ({id, name, ref}), its scopes and status. Requires the identity:read scope. Returns no financial state — see GET /v1/financial-setup. bz_live_ keys are rejected fail-closed.",
        "responses": {
          "200": {
            "description": "Resolved key identity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                },
                "example": {
                  "environment": "SANDBOX",
                  "project": {
                    "id": "6f1c2d3e-0000-4000-8000-000000000000",
                    "name": "My Project",
                    "ref": "my-project"
                  },
                  "scopes": [
                    "identity:read"
                  ],
                  "key_status": "ACTIVE"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/financial-setup": {
      "get": {
        "tags": [
          "identity"
        ],
        "operationId": "getFinancialSetup",
        "summary": "Your Project's financial readiness",
        "x-banzami-scope": "identity:read",
        "description": "Whether the Project this key belongs to can settle and, if not, exactly what is missing. The key is the authority: nothing in the request names a Project, owner or account. Every field is decided with the rules settlement itself enforces — settlement.ready is true exactly when settlement's prerequisites pass, and each blocker is the refusal a settlement would return. A Project not yet configured answers 200 with financial_setup.state UNCONFIGURED and the blocker FINANCIAL_SETUP_NOT_CONFIGURED. Requires the identity:read scope. SDK: getFinancialSetup().",
        "parameters": [
          {
            "name": "fee_destination",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "@my-business",
            "description": "A @banza to evaluate as the fee destination instead of the Project's own."
          }
        ],
        "responses": {
          "200": {
            "description": "The Project's readiness",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialSetupResponse"
                },
                "example": {
                  "environment": "SANDBOX",
                  "project": {
                    "id": "6f1c2d3e-0000-4000-8000-000000000000",
                    "name": "My Project",
                    "ref": "my-project"
                  },
                  "financial_setup": {
                    "state": "READY",
                    "configured": true,
                    "sealed": false
                  },
                  "financial_identity": {
                    "handle": "@my-business"
                  },
                  "kyb": {
                    "status": "APPROVED"
                  },
                  "wallet": {
                    "status": "ACTIVE",
                    "ready": true,
                    "currency": "AOA"
                  },
                  "pricing": {
                    "profile": "sandbox-default",
                    "settlement_bps": 0,
                    "payout_bps": 75
                  },
                  "fee_destination": {
                    "handle": "@my-business",
                    "required": false,
                    "resolved": true,
                    "owned_by_project": true,
                    "kyb_approved": true,
                    "wallet_active": true,
                    "type_allowed": false,
                    "application_account_ready": true,
                    "eligible": false,
                    "blocker": "FEE_DESTINATION_TYPE_NOT_ALLOWED"
                  },
                  "settlement": {
                    "ready": true,
                    "blockers": [],
                    "warnings": [
                      "WEBHOOK_ENDPOINT_MISSING"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Missing identity:read scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": "INSUFFICIENT_SCOPE",
                  "message": "missing required scope: identity:read",
                  "request_id": "4f3c1b9a2e7d5086c1af03be7d2915ce"
                }
              }
            }
          },
          "409": {
            "description": "The Project's financial setup does not match an account Banzami holds. Not fixable by the caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": "FINANCIAL_SETUP_CONFLICT",
                  "message": "this project's financial setup does not match an account; contact support",
                  "request_id": "4f3c1b9a2e7d5086c1af03be7d2915ce"
                }
              }
            }
          },
          "503": {
            "description": "Readiness could not be evaluated right now. Never reported as missing configuration; retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": "SERVICE_UNAVAILABLE",
                  "message": "financial readiness is temporarily unavailable",
                  "request_id": "4f3c1b9a2e7d5086c1af03be7d2915ce"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment-sessions": {
      "post": {
        "tags": [
          "payment-sessions"
        ],
        "operationId": "createPaymentSession",
        "summary": "Create a payment session",
        "x-banzami-scope": "payment_sessions:write",
        "description": "Creates a payment session and returns its id, status and interfaces (link/QR). Credential: developer key with the payment_sessions scope on a project with an ACTIVE binding, or a merchant credential.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentSessionRequest"
              },
              "example": {
                "wallet_account_id": "wacc_xxx",
                "purpose": "ORDER",
                "reference_type": "PEDIDO",
                "reference_id": "order_123",
                "amount_minor": 25000,
                "currency": "AOA",
                "description": "Order #123"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentSession"
                },
                "example": {
                  "session_id": "payment_session_xxx",
                  "wallet_account_id": "wacc_xxx",
                  "currency": "AOA",
                  "amount_minor": 25000,
                  "purpose": "ORDER",
                  "reference_type": "PEDIDO",
                  "reference_id": "order_123",
                  "status": "ACTIVE",
                  "expires_at": "2026-07-11T12:00:00Z",
                  "created_at": "2026-07-11T11:45:00Z",
                  "interfaces": [
                    {
                      "type": "PAYMENT_LINK",
                      "value": "https://pay.banzami.com/pay/slug_xxx",
                      "format": "URL",
                      "expires_at": "2026-07-11T12:00:00Z"
                    },
                    {
                      "type": "DEEP_LINK",
                      "value": "banzami://pay/slug_xxx",
                      "format": "URL",
                      "expires_at": "2026-07-11T12:00:00Z"
                    },
                    {
                      "type": "DYNAMIC_QR",
                      "value": "https://pay.banzami.com/pay/slug_xxx",
                      "format": "QR_PAYLOAD",
                      "qr_url": "/v1/payment-sessions/payment_session_xxx/qr",
                      "expires_at": "2026-07-11T12:00:00Z"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      },
      "get": {
        "tags": [
          "payment-sessions"
        ],
        "operationId": "listPaymentSessions",
        "summary": "List payment sessions",
        "x-banzami-scope": "payment_sessions:read",
        "description": "Lists the project's payment sessions, newest first, optionally filtered by status. There is no cursor: the response is the most recent sessions up to limit. A limit outside 1–200 is replaced by the default.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "CREATED",
                "ACTIVE",
                "PAID",
                "PARTIALLY_PAID",
                "EXPIRED",
                "CANCELLED",
                "FAILED"
              ]
            },
            "description": "Only sessions in this status."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sessions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PaymentSession"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/payment-sessions/{id}": {
      "get": {
        "tags": [
          "payment-sessions"
        ],
        "operationId": "getPaymentSession",
        "summary": "Fetch a payment session",
        "x-banzami-scope": "payment_sessions:read",
        "parameters": [
          {
            "$ref": "#/components/parameters/SessionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentSession"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/payment-sessions/{id}/link": {
      "get": {
        "tags": [
          "payment-sessions"
        ],
        "operationId": "getPaymentSessionLink",
        "summary": "Fetch the session's public payment link",
        "x-banzami-scope": "payment_sessions:read",
        "parameters": [
          {
            "$ref": "#/components/parameters/SessionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Public payment link",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "PAYMENT_LINK"
                      ]
                    },
                    "slug": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "slug",
                    "url"
                  ]
                },
                "example": {
                  "type": "PAYMENT_LINK",
                  "slug": "slug_xxx",
                  "url": "https://pay.banzami.com/pay/slug_xxx"
                }
              }
            }
          },
          "404": {
            "description": "Session has no payment link (code NO_LINK) or session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment-sessions/{id}/qr": {
      "get": {
        "tags": [
          "payment-sessions"
        ],
        "operationId": "getPaymentSessionQr",
        "summary": "Fetch the session QR (JSON value or rendered image)",
        "x-banzami-scope": "payment_sessions:read",
        "description": "The session QR encodes the session's hosted pay URL (https://pay.banzami.com/pay/{slug}), for a fixed-amount session as for an open-amount one: any phone camera opens the pay page, where the payer pays. (A fixed-amount session used to encode a structured dynamic-QR payload that no route could pay; it is no longer returned.) Without parameters, returns the encodable value as JSON. With ?format=png|svg, returns the rendered image; ?format=pdf answers 415.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SessionId"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "png",
                "svg",
                "pdf"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "QR value (JSON) or rendered image (with ?format=)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "QR"
                      ]
                    },
                    "value": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "value"
                  ]
                },
                "example": {
                  "type": "QR",
                  "value": "https://pay.banzami.com/pay/slug_xxx"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/payment-links": {
      "post": {
        "tags": [
          "payment-links"
        ],
        "operationId": "createPaymentLink",
        "summary": "Create a reusable payment link",
        "x-banzami-scope": "payment_links:write",
        "description": "Creates a payment link with a public slug (pay.banzami.com/pay/{slug}). Omit amount_minor for an open-amount link. Credential: merchant credential, or developer key with the payment_links scope on a project with an ACTIVE binding.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentLinkRequest"
              },
              "example": {
                "wallet_id": "wallet_xxx",
                "amount_minor": 25000,
                "currency": "AOA",
                "description": "Order #123"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment link created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentLink"
                },
                "example": {
                  "slug": "slug_xxx",
                  "amount_minor": 25000,
                  "currency": "AOA",
                  "description": "Order #123",
                  "status": "ACTIVE",
                  "expires_at": null,
                  "paid_at": null,
                  "merchant_name": "Example Store"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "payment-links"
        ],
        "operationId": "listPaymentLinks",
        "summary": "List payment links",
        "x-banzami-scope": "payment_links:read",
        "responses": {
          "200": {
            "description": "Payment links",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PaymentLink"
                      }
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Present when another page may follow."
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "limit outside 1–100, or a cursor that is not a previous next_cursor (INVALID_PARAM)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Lists the project's payment links, newest first, a page at a time. Pass next_cursor back as cursor for the next page; its absence means the last page.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The next_cursor of the previous page, unchanged."
          }
        ]
      }
    },
    "/v1/wallet-accounts": {
      "post": {
        "tags": [
          "wallet-accounts"
        ],
        "operationId": "createWalletAccount",
        "summary": "Open a segregated account under your owner",
        "x-banzami-scope": "wallet_accounts:create",
        "description": "Opens a wallet account beneath the financial owner your project is bound to. Credential: developer key with wallet_accounts:create, or a merchant credential. The owner is always derived server-side; a client-supplied wallet is refused.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWalletAccountRequest"
              },
              "example": {
                "purpose": "CAMPAIGN",
                "reference_type": "DOA_CAMPAIGN",
                "reference_id": "campaign-a",
                "label": "Campaign A"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Wallet account created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletAccount"
                }
              }
            }
          },
          "400": {
            "description": "Validation error, or a client-supplied wallet (PAYEE_NOT_ALLOWED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Missing wallet_accounts:create scope, or project not provisioned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "wallet-accounts"
        ],
        "operationId": "listWalletAccounts",
        "summary": "List the accounts under your wallet",
        "x-banzami-scope": "wallet_accounts:read",
        "description": "With a developer key the listing is scoped to your project's bound wallet and a wallet_id parameter is refused. With a merchant credential, wallet_id names the wallet you own. Requires wallet_accounts:read.",
        "parameters": [
          {
            "name": "wallet_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Merchant credential only; refused for a developer key."
          }
        ],
        "responses": {
          "200": {
            "description": "Accounts under the wallet",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WalletAccount"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A developer key supplied wallet_id (PAYEE_NOT_ALLOWED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Missing wallet_accounts:read scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/wallet-accounts/{id}": {
      "get": {
        "tags": [
          "wallet-accounts"
        ],
        "operationId": "getWalletAccount",
        "summary": "Retrieve one of your accounts",
        "x-banzami-scope": "wallet_accounts:read",
        "description": "Returns the account when it belongs to your owner. An account belonging to another owner returns 404 rather than 403: a status code that distinguished them would let one project enumerate another's accounts. Requires wallet_accounts:read.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletAccount"
                }
              }
            }
          },
          "404": {
            "description": "Unknown account, or one belonging to another owner",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/wallet-account-transfers": {
      "post": {
        "tags": [
          "transfers"
        ],
        "operationId": "createWalletAccountTransfer",
        "summary": "Move value between two accounts of your own owner",
        "x-banzami-scope": "transfers:write",
        "description": "Transferências (BANZA ADR-052). Moves value between two wallet accounts of the financial owner your project is bound to. Nothing crosses the owner boundary: it is not a payout, not an application settlement, not consumer P2P. Credential: developer key with transfers:write. Both endpoints are validated against the caller’s owner in the gateway and again in Core; an account outside it answers 404, indistinguishable from one that does not exist.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWalletAccountTransferRequest"
              },
              "example": {
                "source_wallet_account_id": "wacc_source_xxx",
                "destination_wallet_account_id": "wacc_destination_xxx",
                "amount_minor": 50000,
                "currency": "AOA",
                "idempotency_key": "idem_xxx"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transfer completed. Replaying the same idempotency_key returns this same transfer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletAccountTransfer"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_DESTINATION (same account), INVALID_AMOUNT (zero or negative), MISSING_FIELD, INVALID_CURRENCY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Missing transfers:write scope, or project not provisioned to hold funds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "An account outside your owner — indistinguishable from one that does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The same idempotency_key reused with a different request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Insufficient funds — nothing moves",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/endpoints": {
      "post": {
        "tags": [
          "webhooks"
        ],
        "operationId": "registerWebhookEndpoint",
        "summary": "Register the endpoint that receives your project’s events",
        "x-banzami-scope": "webhooks:write",
        "description": "Registers an HTTPS endpoint under the owner your project is bound to. The signing secret is returned exactly once, in this response, and is never readable again. Credential: developer key with webhooks:write. Deliveries are signed over the raw request bytes and carry the banza-signature header.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterWebhookEndpointRequest"
              },
              "example": {
                "url": "https://your-server.example/webhooks/banzami",
                "events": [
                  "payment_session.paid"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Endpoint registered. The secret appears here and nowhere else.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpoint"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_WEBHOOK_URL (not a public https destination) or UNSUPPORTED_EVENT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Missing webhooks:write scope, or project not provisioned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Another project’s endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "webhooks"
        ],
        "operationId": "listWebhookEndpoints",
        "summary": "List your webhook endpoints",
        "x-banzami-scope": "webhooks:read",
        "description": "Lists every endpoint registered under the owner your project is bound to, newest first, including deactivated ones (active: false). The signing secret is never included. Credential: developer key with webhooks:read, or a merchant credential. No pagination.",
        "responses": {
          "200": {
            "description": "Webhook endpoints",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookEndpoint"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "id": "whep_xxx",
                      "url": "https://your-server.example/webhooks/banzami",
                      "events": [
                        "payment_session.paid"
                      ],
                      "active": true,
                      "created_at": "2026-07-11T11:45:00Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (missing webhooks:read) or PAYMENTS_UNAVAILABLE (project not provisioned — an unbound project has no webhooks)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/refunds": {
      "post": {
        "tags": [
          "refunds"
        ],
        "operationId": "createRefund",
        "summary": "Refund an eligible payment",
        "x-banzami-scope": "refunds:write",
        "description": "Returns an eligible payment fully or partially. The refund debits the account that RECEIVED the payment, not the owner’s general balance. Credential: developer key with refunds:write, or a merchant credential. Another project’s payment answers 404 — knowing an id is not authority over it.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRefundRequest"
              },
              "example": {
                "source_type": "WALLET_PAYMENT",
                "source_id": "wallet_payment_xxx",
                "amount_minor": 50000,
                "currency": "AOA",
                "idempotency_key": "idem_xxx"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Refund created. Replaying the same idempotency_key returns this same refund.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          },
          "400": {
            "description": "Currency differs from the source, amount above the accrued cap, or missing fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Missing refunds:write scope — a read-only key cannot refund",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Refund source not found, or belonging to another project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "refunds"
        ],
        "operationId": "listRefunds",
        "summary": "List your refunds",
        "x-banzami-scope": "refunds:read",
        "description": "Lists the refunds of the owner your project is bound to, newest first. The owner comes from the credential; no parameter selects another. Credential: developer key with refunds:read on a project bound to a financial owner, or a merchant credential. There is no cursor: at most limit refunds are returned.",
        "parameters": [
          {
            "name": "source_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "wallet_payment_xxx",
            "description": "Only the refunds of this payment. Must be the payment's id; a value that is not a UUID is ignored rather than refused, and the unfiltered list is returned."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Refunds",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Refund"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "id": "refund_xxx",
                      "source_type": "WALLET_PAYMENT",
                      "source_id": "wallet_payment_xxx",
                      "amount_minor": 50000,
                      "currency": "AOA",
                      "status": "SUCCEEDED",
                      "reason": null,
                      "created_at": "2026-07-11T11:45:00Z"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "INVALID_PARAM — limit is not an integer between 1 and 100",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (missing refunds:read) or PAYMENTS_UNAVAILABLE (project not provisioned to hold funds)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/application-settlements": {
      "post": {
        "tags": [
          "application-settlements"
        ],
        "operationId": "createApplicationSettlement",
        "summary": "Settle one of your segregated accounts to a beneficiary",
        "x-banzami-scope": "application_settlements:write",
        "description": "Closes out a segregated wallet account (for example a CAMPAIGN account) of the owner your project is bound to. Banzami reads the account's available balance as the gross, prices it with the pricing profile Banzami assigned to your business, credits any application fee to the fee destination you name and the net to the beneficiary @banza, and returns the completed settlement. The request carries no amount and no rate: a body carrying any pricing field is refused with PRICING_FIELD_NOT_ACCEPTED. The source must not be the PRIMARY account; a fee destination, when named, must be your own business account, and is required only when your pricing resolves a fee. Credential: developer key with application_settlements:write on a project with an ACTIVE binding, or a merchant credential. An unknown source account answers 404; a source account belonging to another owner answers 403 FORBIDDEN. Replaying the same idempotency_key for the same source and beneficiary returns the settlement it already made, with 200.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApplicationSettlementRequest"
              },
              "example": {
                "source_account_id": "wacc_xxx",
                "beneficiary_banza_name": "@beneficiary_xxx",
                "fee_destination_banza_name": "@my-business",
                "reference_id": "campaign_xxx",
                "reason": "Campaign closed",
                "idempotency_key": "idem_xxx"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Idempotent replay: the settlement this idempotency_key already produced for the same source and beneficiary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationSettlement"
                }
              }
            }
          },
          "201": {
            "description": "Settlement executed (ledger posted). The response carries amounts and status only — never ledger account ids.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationSettlement"
                },
                "example": {
                  "id": "application_settlement_xxx",
                  "owner_ref": "campaign_xxx",
                  "status": "COMPLETED",
                  "gross_amount_minor": 1000000,
                  "application_fee_minor": 0,
                  "net_amount_minor": 1000000,
                  "currency": "AOA",
                  "environment": "SANDBOX",
                  "pricing": {
                    "profile": "sandbox-default",
                    "applied_bps": 0,
                    "flat_minor": 0
                  },
                  "created_at": "2026-07-11T11:45:00Z",
                  "completed_at": "2026-07-11T11:45:01Z",
                  "failure_reason": null
                }
              }
            }
          },
          "400": {
            "description": "INVALID_BODY (not JSON, or over 64 KB), MISSING_FIELD (idempotency_key, source_account_id or beneficiary_banza_name), PRICING_FIELD_NOT_ACCEPTED (the body names a rate, profile, category or fee amount), or BAD_REQUEST forwarded from core",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (missing application_settlements:write), PAYMENTS_UNAVAILABLE (project not provisioned to settle), FORBIDDEN (the source account belongs to another owner) or FEE_DESTINATION_NOT_OWNED (the fee destination is not your own business account)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Source account not found (NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "IDEMPOTENCY_CONFLICT (the idempotency_key was already used for a different settlement), IDEMPOTENCY_KEY_REUSED, PRICING_NOT_CONFIGURED (Banzami has not assigned your business a pricing profile), PRICING_CONFIGURATION_ERROR, INVALID_STATUS; also IDEMPOTENCY_CONFLICT / IDEMPOTENCY_KEY_REUSED for the Idempotency-Key header",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "SOURCE_NOT_SEGREGATED (source is the PRIMARY account), BENEFICIARY_NOT_FOUND (no active wallet in this currency), NOTHING_TO_SETTLE (zero available balance), FEE_DESTINATION_NOT_FOUND, FEE_DESTINATION_REQUIRED (your pricing resolves a fee and no destination was named), FEE_DESTINATION_NOT_ACTIVE, FEE_DESTINATION_KYB_NOT_APPROVED, FEE_DESTINATION_WALLET_UNAVAILABLE, FEE_DESTINATION_TYPE_NOT_ALLOWED, FEE_DESTINATION_NOT_BUSINESS_ACCOUNT, SANDBOX_VALUE_PERIMETER (a test Business settles only to a test payer or a test Business), FEE_EXCEEDS_GROSS, INSUFFICIENT_FUNDS, SETTLEMENT_NOT_COMPLETED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE — the beneficiary, the fee destination or a prior settlement could not be checked right now; UPSTREAM_ERROR — the source account or pricing could not be resolved, or core failed. Retry with the same idempotency_key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/application-settlements/{id}": {
      "get": {
        "tags": [
          "application-settlements"
        ],
        "operationId": "getApplicationSettlement",
        "summary": "Fetch an application settlement (merchant credential only)",
        "x-banzami-scope": null,
        "x-banzami-project-key": "refused",
        "description": "Returns a settlement to the Business Account that created it; any other settlement, including one with no recorded creator, answers 404. Credential: merchant credential ONLY. The route sits on the dual-credential surface, but its handler reads only a merchant session, so a developer key is answered 401 UNAUTHORIZED — and there is no application_settlements:read scope. A project keeps the settlement returned by POST /v1/application-settlements.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application_settlement_xxx"
          }
        ],
        "responses": {
          "200": {
            "description": "Application settlement",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationSettlement"
                },
                "example": {
                  "id": "application_settlement_xxx",
                  "owner_ref": "campaign_xxx",
                  "status": "COMPLETED",
                  "gross_amount_minor": 1000000,
                  "application_fee_minor": 0,
                  "net_amount_minor": 1000000,
                  "currency": "AOA",
                  "environment": "SANDBOX",
                  "pricing": {
                    "profile": "sandbox-default",
                    "applied_bps": 0,
                    "flat_minor": 0
                  },
                  "created_at": "2026-07-11T11:45:00Z",
                  "completed_at": "2026-07-11T11:45:01Z",
                  "failure_reason": null
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED — no merchant session. Every developer key is answered this way.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown settlement, or one created by another Business Account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment-links/{id}": {
      "get": {
        "tags": [
          "payment-links"
        ],
        "operationId": "getPaymentLink",
        "summary": "Retrieve one of your payment links",
        "x-banzami-scope": "payment_links:read",
        "description": "Returns a payment link by its id — the id returned at creation, not the public slug (a slug, or any id that is not a UUID, answers 404). Credential: developer key with payment_links:read on a project with an ACTIVE binding, or a merchant credential. Another project's link answers 404, indistinguishable from one that does not exist. refund_source is returned only to the owning merchant session, never to a developer key.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "payment_link_xxx"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment link",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentLinkRecord"
                },
                "example": {
                  "id": "payment_link_xxx",
                  "slug": "slug_xxx",
                  "wallet_id": "wallet_xxx",
                  "wallet_account_id": "wacc_xxx",
                  "amount_minor": 25000,
                  "currency": "AOA",
                  "description": "Order #123",
                  "status": "ACTIVE",
                  "expires_at": null,
                  "paid_at": null,
                  "created_at": "2026-07-11T11:45:00Z",
                  "updated_at": "2026-07-11T11:45:00Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (missing payment_links:read) or PAYMENTS_UNAVAILABLE (project not provisioned to accept payments)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown or malformed id, or a link belonging to another project (NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "payment-links"
        ],
        "operationId": "cancelPaymentLink",
        "summary": "Cancel one of your payment links",
        "x-banzami-scope": "payment_links:write",
        "description": "Cancels an ACTIVE payment link so it can no longer be paid, and returns it with status CANCELLED. A link is marked paid only by a payment; to close an unpaid link, DELETE /v1/payment-links/{id}. Credential: developer key with payment_links:write on a project with an ACTIVE binding, or a merchant credential. Ownership is checked before anything changes: another project's link answers 404, indistinguishable from one that does not exist. A link that is no longer ACTIVE (USED, EXPIRED or CANCELLED) answers 422 LINK_NOT_ACTIVE.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "payment_link_xxx"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment link cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentLinkRecord"
                },
                "example": {
                  "id": "payment_link_xxx",
                  "slug": "slug_xxx",
                  "wallet_id": "wallet_xxx",
                  "wallet_account_id": "wacc_xxx",
                  "amount_minor": 25000,
                  "currency": "AOA",
                  "description": "Order #123",
                  "status": "CANCELLED",
                  "expires_at": null,
                  "paid_at": null,
                  "created_at": "2026-07-11T11:45:00Z",
                  "updated_at": "2026-07-11T12:10:00Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (missing payment_links:write — a read-only key cannot cancel) or PAYMENTS_UNAVAILABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown or malformed id, or a link belonging to another project (NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency-Key header: IDEMPOTENCY_CONFLICT (a request with this key is still in flight) or IDEMPOTENCY_KEY_REUSED (the key was already used for a different request body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "LINK_NOT_ACTIVE — the link was already used, expired or cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/refunds/{id}": {
      "get": {
        "tags": [
          "refunds"
        ],
        "operationId": "getRefund",
        "summary": "Retrieve one of your refunds",
        "x-banzami-scope": "refunds:read",
        "description": "Returns a refund of the owner your project is bound to. The read is scoped to that owner in Core: another project's refund, an unknown id and a malformed id all answer the same 404. Credential: developer key with refunds:read, or a merchant credential.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "refund_xxx"
          }
        ],
        "responses": {
          "200": {
            "description": "Refund",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                },
                "example": {
                  "id": "refund_xxx",
                  "source_type": "WALLET_PAYMENT",
                  "source_id": "wallet_payment_xxx",
                  "amount_minor": 50000,
                  "currency": "AOA",
                  "status": "SUCCEEDED",
                  "reason": null,
                  "created_at": "2026-07-11T11:45:00Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (missing refunds:read) or PAYMENTS_UNAVAILABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown refund, or one belonging to another project (NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/integration": {
      "get": {
        "tags": [
          "identity"
        ],
        "operationId": "getIntegration",
        "summary": "Business self-profile — refuses project keys",
        "x-banzami-scope": null,
        "x-banzami-project-key": "refused",
        "description": "The consolidated profile of the Business Account behind a merchant session. It names that account's wallet and account ids, which a Project key must never learn, so a developer key is always refused with 403 USE_FINANCIAL_SETUP, whatever its scopes. A project reads the same readiness from GET /v1/financial-setup, which names none of them.",
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "USE_FINANCIAL_SETUP — returned to every developer key; call GET /v1/financial-setup",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "UNAVAILABLE — the business profile service is not available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/consumers/handle/{handle}": {
      "get": {
        "tags": [
          "handles"
        ],
        "operationId": "resolveHandle",
        "summary": "Confirm a consumer @banza exists",
        "x-banzami-scope": "customers:read",
        "description": "Resolves a consumer @banza to its handle and display name — enough to confirm a destination exists before naming it, and nothing more: no id, no wallet, no balance, no status. The lookup is exact after normalisation (a leading @ and upper case are accepted). Only consumer handles resolve here; a Business @banza answers 404. Credential: developer key with customers:read (no project binding required), or a merchant credential.",
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "handle_xxx",
            "description": "The @banza, with or without the leading @"
          }
        ],
        "responses": {
          "200": {
            "description": "The handle exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HandleResolution"
                },
                "example": {
                  "handle": "handle_xxx",
                  "display_name": "Example Customer"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE — missing customers:read",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No consumer holds this handle (NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/endpoints/{id}": {
      "get": {
        "tags": [
          "webhooks"
        ],
        "operationId": "getWebhookEndpoint",
        "summary": "Retrieve one of your webhook endpoints",
        "x-banzami-scope": "webhooks:read",
        "description": "Returns an endpoint of your project's owner, without its secret. Another project's endpoint answers 404, indistinguishable from one that does not exist. Credential: developer key with webhooks:read, or a merchant credential.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "whep_xxx"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook endpoint (no secret)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpoint"
                },
                "example": {
                  "id": "whep_xxx",
                  "url": "https://your-server.example/webhooks/banzami",
                  "events": [
                    "payment_session.paid"
                  ],
                  "active": true,
                  "created_at": "2026-07-11T11:45:00Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (missing webhooks:read) or PAYMENTS_UNAVAILABLE (project not provisioned — an unbound project has no webhooks)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown endpoint, or another project's endpoint (NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "webhooks"
        ],
        "operationId": "deactivateWebhookEndpoint",
        "summary": "Deactivate one of your webhook endpoints",
        "x-banzami-scope": "webhooks:write",
        "description": "Stops an endpoint receiving events. It is deactivated, not erased: it is retained for audit and still listed with active: false. Deactivating an already inactive endpoint answers 204 again. Another project's endpoint answers 404. Credential: developer key with webhooks:write, or a merchant credential.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "whep_xxx"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "204": {
            "description": "Endpoint deactivated — no body"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (missing webhooks:write — a read-only key cannot change webhooks) or PAYMENTS_UNAVAILABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown endpoint, or another project's endpoint (NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency-Key header: IDEMPOTENCY_CONFLICT (a request with this key is still in flight) or IDEMPOTENCY_KEY_REUSED (the key was already used for a different request body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/endpoints/{id}/health": {
      "get": {
        "tags": [
          "webhooks"
        ],
        "operationId": "getWebhookEndpointHealth",
        "summary": "Delivery health of one of your endpoints (last 24 hours)",
        "x-banzami-scope": "webhooks:read",
        "description": "Counts the endpoint's deliveries created in the last 24 hours by outcome. Another project's endpoint answers 404. Credential: developer key with webhooks:read, or a merchant credential.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "whep_xxx"
          }
        ],
        "responses": {
          "200": {
            "description": "Endpoint health",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpointHealth"
                },
                "example": {
                  "endpoint_id": "whep_xxx",
                  "total_last_24h": 12,
                  "success_last_24h": 11,
                  "failed_last_24h": 1,
                  "success_rate_pct": 91.66666666666666,
                  "last_delivered_at": "2026-07-11T11:50:01Z",
                  "last_failed_at": "2026-07-11T09:12:00Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (missing webhooks:read) or PAYMENTS_UNAVAILABLE (project not provisioned — an unbound project has no webhooks)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown endpoint, or another project's endpoint (NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/endpoints/{id}/rotate-secret": {
      "post": {
        "tags": [
          "webhooks"
        ],
        "operationId": "rotateWebhookEndpointSecret",
        "summary": "Rotate an endpoint's signing secret",
        "x-banzami-scope": "webhooks:write",
        "description": "Issues a new signing secret and returns it exactly once, in this response, as registration does. The cutover is immediate: the next delivery is signed with the new secret, while deliveries already queued keep their signature — update your receiver before rotating. No request body. Another project's endpoint answers 404. Credential: developer key with webhooks:write, or a merchant credential.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "whep_xxx"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "New secret issued. It appears here and nowhere else.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpoint"
                },
                "example": {
                  "id": "whep_xxx",
                  "url": "https://your-server.example/webhooks/banzami",
                  "events": [
                    "payment_session.paid"
                  ],
                  "active": true,
                  "created_at": "2026-07-11T11:45:00Z",
                  "secret": "<returned only in this response>"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (missing webhooks:write — a read-only key cannot change webhooks) or PAYMENTS_UNAVAILABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown endpoint, or another project's endpoint (NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency-Key header: IDEMPOTENCY_CONFLICT (a request with this key is still in flight) or IDEMPOTENCY_KEY_REUSED (the key was already used for a different request body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/events": {
      "get": {
        "tags": [
          "webhooks"
        ],
        "operationId": "listWebhookEvents",
        "summary": "List your recent webhook events",
        "x-banzami-scope": "webhooks:read",
        "description": "Lists the events emitted for the owner your project is bound to, newest first, whether or not an endpoint received them. Credential: developer key with webhooks:read, or a merchant credential. There is no cursor: at most limit events are returned.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookEvent"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "id": "whevt_xxx",
                      "event_type": "payment_session.paid",
                      "payload": {
                        "id": "whevt_xxx",
                        "type": "payment_session.paid",
                        "created_at": "2026-07-11T11:50:00Z",
                        "data": {
                          "session_id": "payment_session_xxx",
                          "amount_minor": 25000,
                          "currency": "AOA"
                        }
                      },
                      "created_at": "2026-07-11T11:50:00Z"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "INVALID_PARAM — limit is not an integer between 1 and 100",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (missing webhooks:read) or PAYMENTS_UNAVAILABLE (project not provisioned — an unbound project has no webhooks)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/events/{id}/deliveries": {
      "get": {
        "tags": [
          "webhooks"
        ],
        "operationId": "listWebhookDeliveries",
        "summary": "Delivery history of one of your events",
        "x-banzami-scope": "webhooks:read",
        "description": "One delivery per endpoint the event was sent to, each with every attempt made (oldest first). Another project's event answers 404 — not an empty list. Credential: developer key with webhooks:read, or a merchant credential.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "whevt_xxx"
          }
        ],
        "responses": {
          "200": {
            "description": "Deliveries of the event",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookDelivery"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "id": "whdel_xxx",
                      "event_id": "whevt_xxx",
                      "endpoint_id": "whep_xxx",
                      "attempt_number": 1,
                      "status": "SUCCESS",
                      "status_code": 200,
                      "response_body": "ok",
                      "delivered_at": "2026-07-11T11:50:01Z",
                      "created_at": "2026-07-11T11:50:00Z",
                      "attempts": [
                        {
                          "attempt_number": 1,
                          "outcome": "SUCCESS",
                          "status_code": 200,
                          "error_class": null,
                          "duration_ms": 184,
                          "attempted_at": "2026-07-11T11:50:01Z"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (missing webhooks:read) or PAYMENTS_UNAVAILABLE (project not provisioned — an unbound project has no webhooks)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown event, or another project's event (NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/deliveries/{id}/replay": {
      "post": {
        "tags": [
          "webhooks"
        ],
        "operationId": "replayWebhookDelivery",
        "summary": "Re-send one of your deliveries",
        "x-banzami-scope": "webhooks:write",
        "description": "Puts an existing delivery back in the queue as PENDING, keeping its id — one delivery per event per endpoint, so a replay is a further attempt, never a second delivery. For recovery after an endpoint outage; a delivery that already succeeded answers 409 and is not sent again. No request body. Another project's delivery answers 404. Credential: developer key with webhooks:write, or a merchant credential.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "whdel_xxx"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "201": {
            "description": "Delivery re-queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookDelivery"
                },
                "example": {
                  "id": "whdel_xxx",
                  "event_id": "whevt_xxx",
                  "endpoint_id": "whep_xxx",
                  "attempt_number": 5,
                  "status": "PENDING",
                  "created_at": "2026-07-11T12:30:00Z",
                  "attempts": null
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (missing webhooks:write — a read-only key cannot change webhooks) or PAYMENTS_UNAVAILABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown delivery, or another project's delivery (NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency-Key header: IDEMPOTENCY_CONFLICT (a request with this key is still in flight) or IDEMPOTENCY_KEY_REUSED (the key was already used for a different request body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "WEBHOOK_TEST_RATE_LIMITED — a replay of a test delivery counts toward the endpoint's 10 test deliveries a minute; wait for Retry-After",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/proofs/{ref}": {
      "get": {
        "tags": [
          "receipts"
        ],
        "operationId": "verifyPublicProof",
        "summary": "Verify a receipt by its public proof reference",
        "x-banzami-scope": null,
        "description": "Public and unauthenticated: the reference is the capability. The current format is SECURE_V1 — BZM- followed by six groups of four symbols from 0-9 and A-Z without I, L, O and U (120 bits). Older eight-symbol references (BZM-XXXX-XXXX) still verify. Matching is EXACT: there is no normalisation, so lower-case letters, spaces or an extra hyphen answer 404 exactly like a reference that does not exist, on purpose. The same verification is the page https://banzami.com/r/{ref} that a receipt QR opens. Rate-limited per client. This is not the eight-character reference the Banzami app shows on a transfer, which is a display aid and does not verify.",
        "security": [],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^BZM(-[0-9A-HJKMNP-TV-Z]{4}){6}$|^BZM(-[0-9A-F]{4}){2}$"
            },
            "example": "BZM-XXXX-XXXX-XXXX-XXXX-XXXX-XXXX"
          }
        ],
        "responses": {
          "200": {
            "description": "Verified. Read `status`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicProof"
                }
              }
            }
          },
          "404": {
            "description": "No such receipt, or the reference was altered. Indistinguishable by design.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicProofMissing"
                },
                "example": {
                  "exists": false,
                  "status": "NOT_FOUND"
                }
              }
            }
          },
          "429": {
            "description": "Too many verifications from this client. Honour Retry-After."
          },
          "503": {
            "description": "Verification is temporarily unavailable. Do not conclude the receipt is forged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicProofMissing"
                },
                "example": {
                  "exists": false,
                  "status": "UNAVAILABLE"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sandbox/scenarios": {
      "get": {
        "tags": [
          "sandbox"
        ],
        "operationId": "listSandboxScenarios",
        "summary": "List the deterministic Sandbox scenarios",
        "x-banzami-scope": "sandbox:read",
        "description": "How to produce each Sandbox outcome, what comes back and which event follows. Every scenario comes from a real operation, except external-rail outcomes, which are requested with simulate and marked simulated: true. There are no magic amounts. Credential: Sandbox project key with sandbox:read.",
        "responses": {
          "200": {
            "description": "The scenario catalogue",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxScenarioCatalogue"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (the key lacks sandbox:read) or SANDBOX_ONLY (not a Sandbox key — test data exists only in the Sandbox)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sandbox/test-payers": {
      "post": {
        "tags": [
          "sandbox"
        ],
        "operationId": "createTestPayer",
        "summary": "Create a test payer",
        "x-banzami-scope": "sandbox:write",
        "description": "Creates a Sandbox consumer owned by your Project, with a wallet and a fictitious opening balance. A test payer acts only through this API: it pays the Project's own sessions and links and signs in to no app. At most 10 active test payers per Project. Credential: Sandbox project key with sandbox:write.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTestPayerRequest"
              },
              "example": {
                "label": "Maria (teste)",
                "initial_balance_minor": 1000000
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Test payer created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestPayer"
                },
                "example": {
                  "id": "tp_xxx",
                  "handle": "tpxxxxxxxxxx",
                  "label": "Maria (teste)",
                  "status": "ACTIVE",
                  "balance_minor": 1000000,
                  "currency": "AOA",
                  "environment": "SANDBOX",
                  "created_at": "2026-09-14T10:00:00Z",
                  "retired_at": null
                }
              }
            }
          },
          "400": {
            "description": "INVALID_BODY or INVALID_PARAM (label over 60 characters; initial_balance_minor outside 0–1000000)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (the key lacks sandbox:write) or SANDBOX_ONLY (not a Sandbox key — test data exists only in the Sandbox)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency-Key header: IDEMPOTENCY_CONFLICT (a request with this key is still in flight) or IDEMPOTENCY_KEY_REUSED (the key was already used for a different request body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "SANDBOX_FUNDING_REFUSED — the opening balance was refused by the payer's balance limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "SANDBOX_QUOTA_EXCEEDED — 10 active test payers already",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "sandbox"
        ],
        "operationId": "listTestPayers",
        "summary": "List your test payers",
        "x-banzami-scope": "sandbox:read",
        "description": "Your Project's test payers, newest first, with their current fictitious balance. Credential: Sandbox project key with sandbox:read.",
        "parameters": [
          {
            "name": "include_retired",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "true to include retired payers"
          }
        ],
        "responses": {
          "200": {
            "description": "Test payers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TestPayer"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (the key lacks sandbox:read) or SANDBOX_ONLY (not a Sandbox key — test data exists only in the Sandbox)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sandbox/test-payers/{id}": {
      "get": {
        "tags": [
          "sandbox"
        ],
        "operationId": "getTestPayer",
        "summary": "Fetch a test payer",
        "x-banzami-scope": "sandbox:read",
        "description": "One of your Project's test payers. Another Project's payer answers 404. Credential: Sandbox project key with sandbox:read.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "tp_xxx"
          }
        ],
        "responses": {
          "200": {
            "description": "Test payer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestPayer"
                },
                "example": {
                  "id": "tp_xxx",
                  "handle": "tpxxxxxxxxxx",
                  "label": "Maria (teste)",
                  "status": "ACTIVE",
                  "balance_minor": 1000000,
                  "currency": "AOA",
                  "environment": "SANDBOX",
                  "created_at": "2026-09-14T10:00:00Z",
                  "retired_at": null
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (the key lacks sandbox:read) or SANDBOX_ONLY (not a Sandbox key — test data exists only in the Sandbox)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND — unknown, or another Project's",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "sandbox"
        ],
        "operationId": "retireTestPayer",
        "summary": "Retire a test payer",
        "x-banzami-scope": "sandbox:write",
        "description": "Retires the payer: its fictitious balance is retired through the ledger and it can no longer pay or be funded. Nothing is deleted; its payments and history stay readable. Credential: Sandbox project key with sandbox:write.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "tp_xxx"
          }
        ],
        "responses": {
          "200": {
            "description": "Retired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestPayer"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (the key lacks sandbox:write) or SANDBOX_ONLY (not a Sandbox key — test data exists only in the Sandbox)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND — unknown, or another Project's",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "RETIREMENT_FAILED — not fully retired this time; repeat the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sandbox/test-payers/{id}/fund": {
      "post": {
        "tags": [
          "sandbox"
        ],
        "operationId": "fundTestPayer",
        "summary": "Add fictitious value to a test payer",
        "x-banzami-scope": "sandbox:write",
        "description": "A fictitious top-up through the ledger — never a balance edit. The Idempotency-Key header is required and identifies the top-up. Limits: 2500000 per top-up, a 5000000 payer balance, and 20 top-ups and 10000000 per Project per 24 hours. Credential: Sandbox project key with sandbox:write.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "tp_xxx"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "topup_xxx",
            "description": "Required. The same key never funds twice."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FundTestPayerRequest"
              },
              "example": {
                "amount_minor": 500000
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Funded (or the replay of the same top-up)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestPayer"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_BODY, INVALID_PARAM (amount_minor outside 1–2500000) or IDEMPOTENCY_KEY_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (the key lacks sandbox:write) or SANDBOX_ONLY (not a Sandbox key — test data exists only in the Sandbox)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND — unknown, or another Project's",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
[...]
