{
  "openapi": "3.0.3",
  "info": {
    "title": "Banzami Sandbox API",
    "version": "docs-2026-09-11",
    "description": "Machine-readable description of the CURRENTLY DOCUMENTED Banzami Sandbox API surface (Sandbox/Preview documentation scope only). PT docs: developers.banzami.com/docs · EN docs: developers.banzami.com/docs/en. This document describes the Sandbox integration surface verified in evidence — it is NOT a production contract, and Production/live rails are not available (Production in preparation). Every operation described is served by the deployed Sandbox gateway on the developer-key surface; an operation a developer key cannot call says so and names the refusal it answers. POST /v1/payment-links/{id}/mark-used is retired (410 ROUTE_RETIRED) and is not described. All example values are obvious placeholders (bz_test_sk_XXXX, idem_xxx, payment_session_xxx) — never real credentials."
  },
  "servers": [
    {
      "url": "https://sandbox-api.banzami.com",
      "description": "Banzami Sandbox — operational for integration; money is fictitious"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "identity",
      "description": "Developer key identity (released developer-key surface)"
    },
    {
      "name": "payment-sessions",
      "description": "Payment sessions — Sandbox, gated by scope + project binding"
    },
    {
      "name": "payment-links",
      "description": "Payment links — Sandbox, gated by scope + project binding"
    },
    {
      "name": "application-settlements",
      "description": "Application settlements — close out a segregated account to a beneficiary @banza, priced by Banzami"
    },
    {
      "name": "refunds",
      "description": "Refunds of your own payments — Sandbox, gated by scope + project binding"
    },
    {
      "name": "webhooks",
      "description": "Webhook endpoints, events and deliveries of your project's owner"
    },
    {
      "name": "handles",
      "description": "@banza lookup — confirm a destination exists before naming it"
    },
    {
      "name": "receipts",
      "description": "Public verification of a payment receipt by its proof reference. No credential."
    }
  ],
  "paths": {
    "/v1/me": {
      "get": {
        "tags": [
          "identity"
        ],
        "operationId": "getMe",
        "summary": "Key identity (first successful call — no SDK required)",
        "description": "Returns the authenticated key's environment, the Project it belongs to ({id, name, ref}), its scopes and status. Requires the identity:read scope. Returns no financial state — see GET /v1/financial-setup. bz_live_ keys are rejected fail-closed.",
        "responses": {
          "200": {
            "description": "Resolved key identity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                },
                "example": {
                  "environment": "SANDBOX",
                  "project": {
                    "id": "6f1c2d3e-0000-4000-8000-000000000000",
                    "name": "My Project",
                    "ref": "my-project"
                  },
                  "scopes": [
                    "identity:read"
                  ],
                  "key_status": "ACTIVE"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/financial-setup": {
      "get": {
        "tags": [
          "identity"
        ],
        "operationId": "getFinancialSetup",
        "summary": "Your Project's financial readiness",
        "description": "Whether the Project this key belongs to can settle and, if not, exactly what is missing. The key is the authority: nothing in the request names a Project, owner or account. Every field is decided with the rules settlement itself enforces — settlement.ready is true exactly when settlement's prerequisites pass, and each blocker is the refusal a settlement would return. A Project not yet configured answers 200 with financial_setup.state UNCONFIGURED and the blocker FINANCIAL_SETUP_NOT_CONFIGURED. Requires the identity:read scope. SDK: getFinancialSetup().",
        "parameters": [
          {
            "name": "fee_destination",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "@my-business",
            "description": "A @banza to evaluate as the fee destination instead of the Project's own."
          }
        ],
        "responses": {
          "200": {
            "description": "The Project's readiness",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialSetupResponse"
                },
                "example": {
                  "environment": "SANDBOX",
                  "project": {
                    "id": "6f1c2d3e-0000-4000-8000-000000000000",
                    "name": "My Project",
                    "ref": "my-project"
                  },
                  "financial_setup": {
                    "state": "READY",
                    "configured": true,
                    "sealed": false
                  },
                  "financial_identity": {
                    "handle": "@my-business"
                  },
                  "kyb": {
                    "status": "APPROVED"
                  },
                  "wallet": {
                    "status": "ACTIVE",
                    "ready": true,
                    "currency": "AOA"
                  },
                  "pricing": {
                    "profile": "sandbox-default",
                    "settlement_bps": 0,
                    "payout_bps": 75
                  },
                  "fee_destination": {
                    "handle": "@my-business",
                    "required": false,
                    "resolved": true,
                    "owned_by_project": true,
                    "kyb_approved": true,
                    "wallet_active": true,
                    "type_allowed": false,
                    "application_account_ready": true,
                    "eligible": false,
                    "blocker": "FEE_DESTINATION_TYPE_NOT_ALLOWED"
                  },
                  "settlement": {
                    "ready": true,
                    "blockers": [],
                    "warnings": [
                      "WEBHOOK_ENDPOINT_MISSING"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Missing identity:read scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": "INSUFFICIENT_SCOPE",
                  "message": "missing required scope: identity:read",
                  "request_id": "4f3c1b9a2e7d5086c1af03be7d2915ce"
                }
              }
            }
          },
          "409": {
            "description": "The Project's financial setup does not match an account Banzami holds. Not fixable by the caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": "FINANCIAL_SETUP_CONFLICT",
                  "message": "this project's financial setup does not match an account; contact support",
                  "request_id": "4f3c1b9a2e7d5086c1af03be7d2915ce"
                }
              }
            }
          },
          "503": {
            "description": "Readiness could not be evaluated right now. Never reported as missing configuration; retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": "SERVICE_UNAVAILABLE",
                  "message": "financial readiness is temporarily unavailable",
                  "request_id": "4f3c1b9a2e7d5086c1af03be7d2915ce"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment-sessions": {
      "post": {
        "tags": [
          "payment-sessions"
        ],
        "operationId": "createPaymentSession",
        "summary": "Create a payment session",
        "description": "Creates a payment session and returns its id, status and interfaces (link/QR). Credential: developer key with the payment_sessions scope on a project with an ACTIVE binding, or a merchant credential.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentSessionRequest"
              },
              "example": {
                "wallet_account_id": "wacc_xxx",
                "purpose": "ORDER",
                "reference_type": "PEDIDO",
                "reference_id": "order_123",
                "amount_minor": 25000,
                "currency": "AOA",
                "description": "Order #123"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentSession"
                },
                "example": {
                  "session_id": "payment_session_xxx",
                  "wallet_account_id": "wacc_xxx",
                  "currency": "AOA",
                  "amount_minor": 25000,
                  "purpose": "ORDER",
                  "reference_type": "PEDIDO",
                  "reference_id": "order_123",
                  "status": "ACTIVE",
                  "expires_at": "2026-07-11T12:00:00Z",
                  "created_at": "2026-07-11T11:45:00Z",
                  "interfaces": [
                    {
                      "type": "PAYMENT_LINK",
                      "value": "https://pay.banzami.com/pay/slug_xxx",
                      "format": "URL",
                      "expires_at": "2026-07-11T12:00:00Z"
                    },
                    {
                      "type": "DEEP_LINK",
                      "value": "banzami://pay/slug_xxx",
                      "format": "URL",
                      "expires_at": "2026-07-11T12:00:00Z"
                    },
                    {
                      "type": "DYNAMIC_QR",
                      "value": "https://pay.banzami.com/pay/slug_xxx",
                      "format": "QR_PAYLOAD",
                      "qr_url": "/v1/payment-sessions/payment_session_xxx/qr",
                      "expires_at": "2026-07-11T12:00:00Z"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      },
      "get": {
        "tags": [
          "payment-sessions"
        ],
        "operationId": "listPaymentSessions",
        "summary": "List payment sessions",
        "description": "Lists the project's payment sessions, newest first, optionally filtered by status. There is no cursor: the response is the most recent sessions up to limit. A limit outside 1–200 is replaced by the default.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "CREATED",
                "ACTIVE",
                "PAID",
                "PARTIALLY_PAID",
                "EXPIRED",
                "CANCELLED",
                "FAILED"
              ]
            },
            "description": "Only sessions in this status."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sessions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PaymentSession"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/payment-sessions/{id}": {
      "get": {
        "tags": [
          "payment-sessions"
        ],
        "operationId": "getPaymentSession",
        "summary": "Fetch a payment session",
        "parameters": [
          {
            "$ref": "#/components/parameters/SessionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentSession"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/payment-sessions/{id}/link": {
      "get": {
        "tags": [
          "payment-sessions"
        ],
        "operationId": "getPaymentSessionLink",
        "summary": "Fetch the session's public payment link",
        "parameters": [
          {
            "$ref": "#/components/parameters/SessionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Public payment link",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "PAYMENT_LINK"
                      ]
                    },
                    "slug": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "slug",
                    "url"
                  ]
                },
                "example": {
                  "type": "PAYMENT_LINK",
                  "slug": "slug_xxx",
                  "url": "https://pay.banzami.com/pay/slug_xxx"
                }
              }
            }
          },
          "404": {
            "description": "Session has no payment link (code NO_LINK) or session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment-sessions/{id}/qr": {
      "get": {
        "tags": [
          "payment-sessions"
        ],
        "operationId": "getPaymentSessionQr",
        "summary": "Fetch the session QR (JSON value or rendered image)",
        "description": "The session QR encodes the session's hosted pay URL (https://pay.banzami.com/pay/{slug}), for a fixed-amount session as for an open-amount one: any phone camera opens the pay page, where the payer pays. (A fixed-amount session used to encode a structured dynamic-QR payload that no route could pay; it is no longer returned.) Without parameters, returns the encodable value as JSON. With ?format=png|svg, returns the rendered image; ?format=pdf answers 415.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SessionId"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "png",
                "svg",
                "pdf"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "QR value (JSON) or rendered image (with ?format=)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "QR"
                      ]
                    },
                    "value": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "value"
                  ]
                },
                "example": {
                  "type": "QR",
                  "value": "https://pay.banzami.com/pay/slug_xxx"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/payment-links": {
      "post": {
        "tags": [
          "payment-links"
        ],
        "operationId": "createPaymentLink",
        "summary": "Create a reusable payment link",
        "description": "Creates a payment link with a public slug (pay.banzami.com/pay/{slug}). Omit amount_minor for an open-amount link. Credential: merchant credential, or developer key with the payment_links scope on a project with an ACTIVE binding.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentLinkRequest"
              },
              "example": {
                "wallet_id": "wallet_xxx",
                "amount_minor": 25000,
                "currency": "AOA",
                "description": "Order #123"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment link created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentLink"
                },
                "example": {
                  "slug": "slug_xxx",
                  "amount_minor": 25000,
                  "currency": "AOA",
                  "description": "Order #123",
                  "status": "ACTIVE",
                  "expires_at": null,
                  "paid_at": null,
                  "merchant_name": "Example Store"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "payment-links"
        ],
        "operationId": "listPaymentLinks",
        "summary": "List payment links",
        "responses": {
          "200": {
            "description": "Payment links",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PaymentLink"
                      }
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Present when another page may follow."
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "limit outside 1–100, or a cursor that is not a previous next_cursor (INVALID_PARAM)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Lists the project's payment links, newest first, a page at a time. Pass next_cursor back as cursor for the next page; its absence means the last page.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The next_cursor of the previous page, unchanged."
          }
        ]
      }
    },
    "/v1/wallet-accounts": {
      "post": {
        "tags": [
          "wallet-accounts"
        ],
        "operationId": "createWalletAccount",
        "summary": "Open a segregated account under your owner",
        "description": "Opens a wallet account beneath the financial owner your project is bound to. Credential: developer key with wallet_accounts:create, or a merchant credential. The owner is always derived server-side; a client-supplied wallet is refused.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWalletAccountRequest"
              },
              "example": {
                "purpose": "CAMPAIGN",
                "reference_type": "DOA_CAMPAIGN",
                "reference_id": "campaign-a",
                "label": "Campaign A"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Wallet account created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletAccount"
                }
              }
            }
          },
          "400": {
            "description": "Validation error, or a client-supplied wallet (PAYEE_NOT_ALLOWED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Missing wallet_accounts:create scope, or project not provisioned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "wallet-accounts"
        ],
        "operationId": "listWalletAccounts",
        "summary": "List the accounts under your wallet",
        "description": "With a developer key the listing is scoped to your project's bound wallet and a wallet_id parameter is refused. With a merchant credential, wallet_id names the wallet you own. Requires wallet_accounts:read.",
        "parameters": [
          {
            "name": "wallet_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Merchant credential only; refused for a developer key."
          }
        ],
        "responses": {
          "200": {
            "description": "Accounts under the wallet",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WalletAccount"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A developer key supplied wallet_id (PAYEE_NOT_ALLOWED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Missing wallet_accounts:read scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/wallet-accounts/{id}": {
      "get": {
        "tags": [
          "wallet-accounts"
        ],
        "operationId": "getWalletAccount",
        "summary": "Retrieve one of your accounts",
        "description": "Returns the account when it belongs to your owner. An account belonging to another owner returns 404 rather than 403: a status code that distinguished them would let one project enumerate another's accounts. Requires wallet_accounts:read.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletAccount"
                }
              }
            }
          },
          "404": {
            "description": "Unknown account, or one belonging to another owner",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/wallet-account-transfers": {
      "post": {
        "tags": [
          "transfers"
        ],
        "operationId": "createWalletAccountTransfer",
        "summary": "Move value between two accounts of your own owner",
        "description": "Transferências (BANZA ADR-052). Moves value between two wallet accounts of the financial owner your project is bound to. Nothing crosses the owner boundary: it is not a payout, not an application settlement, not consumer P2P. Credential: developer key with transfers:write. Both endpoints are validated against the caller’s owner in the gateway and again in Core; an account outside it answers 404, indistinguishable from one that does not exist.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWalletAccountTransferRequest"
              },
              "example": {
                "source_wallet_account_id": "wacc_source_xxx",
                "destination_wallet_account_id": "wacc_destination_xxx",
                "amount_minor": 50000,
                "currency": "AOA",
                "idempotency_key": "idem_xxx"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transfer completed. Replaying the same idempotency_key returns this same transfer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletAccountTransfer"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_DESTINATION (same account), INVALID_AMOUNT (zero or negative), MISSING_FIELD, INVALID_CURRENCY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Missing transfers:write scope, or project not provisioned to hold funds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "An account outside your owner — indistinguishable from one that does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The same idempotency_key reused with a different request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Insufficient funds — nothing moves",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/endpoints": {
      "post": {
        "tags": [
          "webhooks"
        ],
        "operationId": "registerWebhookEndpoint",
        "summary": "Register the endpoint that receives your project’s events",
        "description": "Registers an HTTPS endpoint under the owner your project is bound to. The signing secret is returned exactly once, in this response, and is never readable again. Credential: developer key with webhooks:write. Deliveries are signed over the raw request bytes and carry the banza-signature header.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterWebhookEndpointRequest"
              },
              "example": {
                "url": "https://your-server.example/webhooks/banzami",
                "events": [
                  "payment_session.paid"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Endpoint registered. The secret appears here and nowhere else.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpoint"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_WEBHOOK_URL (not a public https destination) or UNSUPPORTED_EVENT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Missing webhooks:write scope, or project not provisioned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Another project’s endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "webhooks"
        ],
        "operationId": "listWebhookEndpoints",
        "summary": "List your webhook endpoints",
        "description": "Lists every endpoint registered under the owner your project is bound to, newest first, including deactivated ones (active: false). The signing secret is never included. Credential: developer key with webhooks:read, or a merchant credential. No pagination.",
        "responses": {
          "200": {
            "description": "Webhook endpoints",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookEndpoint"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "id": "whep_xxx",
                      "url": "https://your-server.example/webhooks/banzami",
                      "events": [
                        "payment_session.paid"
                      ],
                      "active": true,
                      "created_at": "2026-07-11T11:45:00Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (missing webhooks:read) or PAYMENTS_UNAVAILABLE (project not provisioned — an unbound project has no webhooks)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/refunds": {
      "post": {
        "tags": [
          "refunds"
        ],
        "operationId": "createRefund",
        "summary": "Refund an eligible payment",
        "description": "Returns an eligible payment fully or partially. The refund debits the account that RECEIVED the payment, not the owner’s general balance. Credential: developer key with refunds:write, or a merchant credential. Another project’s payment answers 404 — knowing an id is not authority over it.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRefundRequest"
              },
              "example": {
                "source_type": "WALLET_PAYMENT",
                "source_id": "wallet_payment_xxx",
                "amount_minor": 50000,
                "currency": "AOA",
                "idempotency_key": "idem_xxx"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Refund created. Replaying the same idempotency_key returns this same refund.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          },
          "400": {
            "description": "Currency differs from the source, amount above the accrued cap, or missing fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Missing refunds:write scope — a read-only key cannot refund",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Refund source not found, or belonging to another project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "refunds"
        ],
        "operationId": "listRefunds",
        "summary": "List your refunds",
        "description": "Lists the refunds of the owner your project is bound to, newest first. The owner comes from the credential; no parameter selects another. Credential: developer key with refunds:read on a project bound to a financial owner, or a merchant credential. There is no cursor: at most limit refunds are returned.",
        "parameters": [
          {
            "name": "source_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "wallet_payment_xxx",
            "description": "Only the refunds of this payment. Must be the payment's id; a value that is not a UUID is ignored rather than refused, and the unfiltered list is returned."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Refunds",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Refund"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "id": "refund_xxx",
                      "source_type": "WALLET_PAYMENT",
                      "source_id": "wallet_payment_xxx",
                      "amount_minor": 50000,
                      "currency": "AOA",
                      "status": "SUCCEEDED",
                      "reason": null,
                      "created_at": "2026-07-11T11:45:00Z"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "INVALID_PARAM — limit is not an integer between 1 and 100",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (missing refunds:read) or PAYMENTS_UNAVAILABLE (project not provisioned to hold funds)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/application-settlements": {
      "post": {
        "tags": [
          "application-settlements"
        ],
        "operationId": "createApplicationSettlement",
        "summary": "Settle one of your segregated accounts to a beneficiary",
        "description": "Closes out a segregated wallet account (for example a CAMPAIGN account) of the owner your project is bound to. Banzami reads the account's available balance as the gross, prices it with the pricing profile Banzami assigned to your business, credits any application fee to the fee destination you name and the net to the beneficiary @banza, and returns the completed settlement. The request carries no amount and no rate: a body carrying any pricing field is refused with PRICING_FIELD_NOT_ACCEPTED. The source must not be the PRIMARY account; a fee destination, when named, must be your own business account, and is required only when your pricing resolves a fee. Credential: developer key with application_settlements:write on a project with an ACTIVE binding, or a merchant credential. An unknown source account answers 404; a source account belonging to another owner answers 403 FORBIDDEN. Replaying the same idempotency_key for the same source and beneficiary returns the settlement it already made, with 200.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApplicationSettlementRequest"
              },
              "example": {
                "source_account_id": "wacc_xxx",
                "beneficiary_banza_name": "@beneficiary_xxx",
                "fee_destination_banza_name": "@my-business",
                "reference_id": "campaign_xxx",
                "reason": "Campaign closed",
                "idempotency_key": "idem_xxx"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Idempotent replay: the settlement this idempotency_key already produced for the same source and beneficiary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationSettlement"
                }
              }
            }
          },
          "201": {
            "description": "Settlement executed (ledger posted). The response carries amounts and status only — never ledger account ids.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationSettlement"
                },
                "example": {
                  "id": "application_settlement_xxx",
                  "owner_ref": "campaign_xxx",
                  "status": "COMPLETED",
                  "gross_amount_minor": 1000000,
                  "application_fee_minor": 0,
                  "net_amount_minor": 1000000,
                  "currency": "AOA",
                  "environment": "SANDBOX",
                  "pricing": {
                    "profile": "sandbox-default",
                    "applied_bps": 0,
                    "flat_minor": 0
                  },
                  "created_at": "2026-07-11T11:45:00Z",
                  "completed_at": "2026-07-11T11:45:01Z",
                  "failure_reason": null
                }
              }
            }
          },
          "400": {
            "description": "INVALID_BODY (not JSON, or over 64 KB), MISSING_FIELD (idempotency_key, source_account_id or beneficiary_banza_name), PRICING_FIELD_NOT_ACCEPTED (the body names a rate, profile, category or fee amount), or BAD_REQUEST forwarded from core",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (missing application_settlements:write), PAYMENTS_UNAVAILABLE (project not provisioned to settle), FORBIDDEN (the source account belongs to another owner) or FEE_DESTINATION_NOT_OWNED (the fee destination is not your own business account)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Source account not found (NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "IDEMPOTENCY_CONFLICT (the idempotency_key was already used for a different settlement), IDEMPOTENCY_KEY_REUSED, PRICING_NOT_CONFIGURED (Banzami has not assigned your business a pricing profile), PRICING_CONFIGURATION_ERROR, INVALID_STATUS; also IDEMPOTENCY_CONFLICT / IDEMPOTENCY_KEY_REUSED for the Idempotency-Key header",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "SOURCE_NOT_SEGREGATED (source is the PRIMARY account), BENEFICIARY_NOT_FOUND (no active wallet in this currency), NOTHING_TO_SETTLE (zero available balance), FEE_DESTINATION_NOT_FOUND, FEE_DESTINATION_REQUIRED (your pricing resolves a fee and no destination was named), FEE_DESTINATION_NOT_ACTIVE, FEE_DESTINATION_KYB_NOT_APPROVED, FEE_DESTINATION_WALLET_UNAVAILABLE, FEE_DESTINATION_TYPE_NOT_ALLOWED, FEE_DESTINATION_NOT_BUSINESS_ACCOUNT, FEE_EXCEEDS_GROSS, INSUFFICIENT_FUNDS, SETTLEMENT_NOT_COMPLETED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "UPSTREAM_ERROR — the source account or pricing could not be resolved, or core failed; the request may have been valid, retry with the same idempotency_key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "SERVICE_UNAVAILABLE — the beneficiary, the fee destination or a prior settlement could not be checked right now; retry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/application-settlements/{id}": {
      "get": {
        "tags": [
          "application-settlements"
        ],
        "operationId": "getApplicationSettlement",
        "summary": "Fetch an application settlement (merchant credential only)",
        "description": "Returns a settlement to the Business Account that created it; any other settlement, including one with no recorded creator, answers 404. Credential: merchant credential ONLY. The route sits on the dual-credential surface, but its handler reads only a merchant session, so a developer key is answered 401 UNAUTHORIZED — and there is no application_settlements:read scope. A project keeps the settlement returned by POST /v1/application-settlements.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application_settlement_xxx"
          }
        ],
        "responses": {
          "200": {
            "description": "Application settlement",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationSettlement"
                },
                "example": {
                  "id": "application_settlement_xxx",
                  "owner_ref": "campaign_xxx",
                  "status": "COMPLETED",
                  "gross_amount_minor": 1000000,
                  "application_fee_minor": 0,
                  "net_amount_minor": 1000000,
                  "currency": "AOA",
                  "environment": "SANDBOX",
                  "pricing": {
                    "profile": "sandbox-default",
                    "applied_bps": 0,
                    "flat_minor": 0
                  },
                  "created_at": "2026-07-11T11:45:00Z",
                  "completed_at": "2026-07-11T11:45:01Z",
                  "failure_reason": null
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED — no merchant session. Every developer key is answered this way.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown settlement, or one created by another Business Account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment-links/{id}": {
      "get": {
        "tags": [
          "payment-links"
        ],
        "operationId": "getPaymentLink",
        "summary": "Retrieve one of your payment links",
        "description": "Returns a payment link by its id — the id returned at creation, not the public slug (a slug, or any id that is not a UUID, answers 404). Credential: developer key with payment_links:read on a project with an ACTIVE binding, or a merchant credential. Another project's link answers 404, indistinguishable from one that does not exist. refund_source is returned only to the owning merchant session, never to a developer key.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "payment_link_xxx"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment link",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentLinkRecord"
                },
                "example": {
                  "id": "payment_link_xxx",
                  "slug": "slug_xxx",
                  "wallet_id": "wallet_xxx",
                  "wallet_account_id": "wacc_xxx",
                  "amount_minor": 25000,
                  "currency": "AOA",
                  "description": "Order #123",
                  "status": "ACTIVE",
                  "expires_at": null,
                  "paid_at": null,
                  "created_at": "2026-07-11T11:45:00Z",
                  "updated_at": "2026-07-11T11:45:00Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (missing payment_links:read) or PAYMENTS_UNAVAILABLE (project not provisioned to accept payments)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown or malformed id, or a link belonging to another project (NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "payment-links"
        ],
        "operationId": "cancelPaymentLink",
        "summary": "Cancel one of your payment links",
        "description": "Cancels an ACTIVE payment link so it can no longer be paid, and returns it with status CANCELLED. A link is marked paid only by a payment; to close an unpaid link, DELETE /v1/payment-links/{id}. Credential: developer key with payment_links:write on a project with an ACTIVE binding, or a merchant credential. Ownership is checked before anything changes: another project's link answers 404, indistinguishable from one that does not exist. A link that is no longer ACTIVE (USED, EXPIRED or CANCELLED) answers 422 LINK_NOT_ACTIVE.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "payment_link_xxx"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment link cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentLinkRecord"
                },
                "example": {
                  "id": "payment_link_xxx",
                  "slug": "slug_xxx",
                  "wallet_id": "wallet_xxx",
                  "wallet_account_id": "wacc_xxx",
                  "amount_minor": 25000,
                  "currency": "AOA",
                  "description": "Order #123",
                  "status": "CANCELLED",
                  "expires_at": null,
                  "paid_at": null,
                  "created_at": "2026-07-11T11:45:00Z",
                  "updated_at": "2026-07-11T12:10:00Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (missing payment_links:write — a read-only key cannot cancel) or PAYMENTS_UNAVAILABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown or malformed id, or a link belonging to another project (NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency-Key header: IDEMPOTENCY_CONFLICT (a request with this key is still in flight) or IDEMPOTENCY_KEY_REUSED (the key was already used for a different request body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "LINK_NOT_ACTIVE — the link was already used, expired or cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/refunds/{id}": {
      "get": {
        "tags": [
          "refunds"
        ],
        "operationId": "getRefund",
        "summary": "Retrieve one of your refunds",
        "description": "Returns a refund of the owner your project is bound to. The read is scoped to that owner in Core: another project's refund, an unknown id and a malformed id all answer the same 404. Credential: developer key with refunds:read, or a merchant credential.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "refund_xxx"
          }
        ],
        "responses": {
          "200": {
            "description": "Refund",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                },
                "example": {
                  "id": "refund_xxx",
                  "source_type": "WALLET_PAYMENT",
                  "source_id": "wallet_payment_xxx",
                  "amount_minor": 50000,
                  "currency": "AOA",
                  "status": "SUCCEEDED",
                  "reason": null,
                  "created_at": "2026-07-11T11:45:00Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (missing refunds:read) or PAYMENTS_UNAVAILABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown refund, or one belonging to another project (NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/integration": {
      "get": {
        "tags": [
          "identity"
        ],
        "operationId": "getIntegration",
        "summary": "Business self-profile — refuses project keys",
        "description": "The consolidated profile of the Business Account behind a merchant session. It names that account's wallet and account ids, which a Project key must never learn, so a developer key is always refused with 403 USE_FINANCIAL_SETUP, whatever its scopes. A project reads the same readiness from GET /v1/financial-setup, which names none of them.",
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "USE_FINANCIAL_SETUP — returned to every developer key; call GET /v1/financial-setup",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "UNAVAILABLE — the business profile service is not available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/consumers/handle/{handle}": {
      "get": {
        "tags": [
          "handles"
        ],
        "operationId": "resolveHandle",
        "summary": "Confirm a consumer @banza exists",
        "description": "Resolves a consumer @banza to its handle and display name — enough to confirm a destination exists before naming it, and nothing more: no id, no wallet, no balance, no status. The lookup is exact after normalisation (a leading @ and upper case are accepted). Only consumer handles resolve here; a Business @banza answers 404. Credential: developer key with customers:read (no project binding required), or a merchant credential.",
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "handle_xxx",
            "description": "The @banza, with or without the leading @"
          }
        ],
        "responses": {
          "200": {
            "description": "The handle exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HandleResolution"
                },
                "example": {
                  "handle": "handle_xxx",
                  "display_name": "Example Customer"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE — missing customers:read",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No consumer holds this handle (NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/endpoints/{id}": {
      "get": {
        "tags": [
          "webhooks"
        ],
        "operationId": "getWebhookEndpoint",
        "summary": "Retrieve one of your webhook endpoints",
        "description": "Returns an endpoint of your project's owner, without its secret. Another project's endpoint answers 404, indistinguishable from one that does not exist. Credential: developer key with webhooks:read, or a merchant credential.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "whep_xxx"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook endpoint (no secret)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpoint"
                },
                "example": {
                  "id": "whep_xxx",
                  "url": "https://your-server.example/webhooks/banzami",
                  "events": [
                    "payment_session.paid"
                  ],
                  "active": true,
                  "created_at": "2026-07-11T11:45:00Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (missing webhooks:read) or PAYMENTS_UNAVAILABLE (project not provisioned — an unbound project has no webhooks)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown endpoint, or another project's endpoint (NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "webhooks"
        ],
        "operationId": "deactivateWebhookEndpoint",
        "summary": "Deactivate one of your webhook endpoints",
        "description": "Stops an endpoint receiving events. It is deactivated, not erased: it is retained for audit and still listed with active: false. Deactivating an already inactive endpoint answers 204 again. Another project's endpoint answers 404. Credential: developer key with webhooks:write, or a merchant credential.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "whep_xxx"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "204": {
            "description": "Endpoint deactivated — no body"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (missing webhooks:write — a read-only key cannot change webhooks) or PAYMENTS_UNAVAILABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown endpoint, or another project's endpoint (NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency-Key header: IDEMPOTENCY_CONFLICT (a request with this key is still in flight) or IDEMPOTENCY_KEY_REUSED (the key was already used for a different request body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/endpoints/{id}/health": {
      "get": {
        "tags": [
          "webhooks"
        ],
        "operationId": "getWebhookEndpointHealth",
        "summary": "Delivery health of one of your endpoints (last 24 hours)",
        "description": "Counts the endpoint's deliveries created in the last 24 hours by outcome. Another project's endpoint answers 404. Credential: developer key with webhooks:read, or a merchant credential.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "whep_xxx"
          }
        ],
        "responses": {
          "200": {
            "description": "Endpoint health",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpointHealth"
                },
                "example": {
                  "endpoint_id": "whep_xxx",
                  "total_last_24h": 12,
                  "success_last_24h": 11,
                  "failed_last_24h": 1,
                  "success_rate_pct": 91.66666666666666,
                  "last_delivered_at": "2026-07-11T11:50:01Z",
                  "last_failed_at": "2026-07-11T09:12:00Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (missing webhooks:read) or PAYMENTS_UNAVAILABLE (project not provisioned — an unbound project has no webhooks)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown endpoint, or another project's endpoint (NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/endpoints/{id}/rotate-secret": {
      "post": {
        "tags": [
          "webhooks"
        ],
        "operationId": "rotateWebhookEndpointSecret",
        "summary": "Rotate an endpoint's signing secret",
        "description": "Issues a new signing secret and returns it exactly once, in this response, as registration does. The cutover is immediate: the next delivery is signed with the new secret, while deliveries already queued keep their signature — update your receiver before rotating. No request body. Another project's endpoint answers 404. Credential: developer key with webhooks:write, or a merchant credential.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "whep_xxx"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "New secret issued. It appears here and nowhere else.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpoint"
                },
                "example": {
                  "id": "whep_xxx",
                  "url": "https://your-server.example/webhooks/banzami",
                  "events": [
                    "payment_session.paid"
                  ],
                  "active": true,
                  "created_at": "2026-07-11T11:45:00Z",
                  "secret": "<returned only in this response>"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (missing webhooks:write — a read-only key cannot change webhooks) or PAYMENTS_UNAVAILABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown endpoint, or another project's endpoint (NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency-Key header: IDEMPOTENCY_CONFLICT (a request with this key is still in flight) or IDEMPOTENCY_KEY_REUSED (the key was already used for a different request body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/events": {
      "get": {
        "tags": [
          "webhooks"
        ],
        "operationId": "listWebhookEvents",
        "summary": "List your recent webhook events",
        "description": "Lists the events emitted for the owner your project is bound to, newest first, whether or not an endpoint received them. Credential: developer key with webhooks:read, or a merchant credential. There is no cursor: at most limit events are returned.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookEvent"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "id": "whevt_xxx",
                      "event_type": "payment_session.paid",
                      "payload": {
                        "id": "whevt_xxx",
                        "type": "payment_session.paid",
                        "created_at": "2026-07-11T11:50:00Z",
                        "data": {
                          "session_id": "payment_session_xxx",
                          "amount_minor": 25000,
                          "currency": "AOA"
                        }
                      },
                      "created_at": "2026-07-11T11:50:00Z"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "INVALID_PARAM — limit is not an integer between 1 and 100",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (missing webhooks:read) or PAYMENTS_UNAVAILABLE (project not provisioned — an unbound project has no webhooks)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/events/{id}/deliveries": {
      "get": {
        "tags": [
          "webhooks"
        ],
        "operationId": "listWebhookDeliveries",
        "summary": "Delivery history of one of your events",
        "description": "One delivery per endpoint the event was sent to, each with every attempt made (oldest first). Another project's event answers 404 — not an empty list. Credential: developer key with webhooks:read, or a merchant credential.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "whevt_xxx"
          }
        ],
        "responses": {
          "200": {
            "description": "Deliveries of the event",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookDelivery"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "id": "whdel_xxx",
                      "event_id": "whevt_xxx",
                      "endpoint_id": "whep_xxx",
                      "attempt_number": 1,
                      "status": "SUCCESS",
                      "status_code": 200,
                      "response_body": "ok",
                      "delivered_at": "2026-07-11T11:50:01Z",
                      "created_at": "2026-07-11T11:50:00Z",
                      "attempts": [
                        {
                          "attempt_number": 1,
                          "outcome": "SUCCESS",
                          "status_code": 200,
                          "error_class": null,
                          "duration_ms": 184,
                          "attempted_at": "2026-07-11T11:50:01Z"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (missing webhooks:read) or PAYMENTS_UNAVAILABLE (project not provisioned — an unbound project has no webhooks)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown event, or another project's event (NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/deliveries/{id}/replay": {
      "post": {
        "tags": [
          "webhooks"
        ],
        "operationId": "replayWebhookDelivery",
        "summary": "Re-send one of your deliveries",
        "description": "Puts an existing delivery back in the queue as PENDING, keeping its id — one delivery per event per endpoint, so a replay is a further attempt, never a second delivery. For recovery after an endpoint outage; a delivery that already succeeded answers 409 and is not sent again. No request body. Another project's delivery answers 404. Credential: developer key with webhooks:write, or a merchant credential.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "whdel_xxx"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "201": {
            "description": "Delivery re-queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookDelivery"
                },
                "example": {
                  "id": "whdel_xxx",
                  "event_id": "whevt_xxx",
                  "endpoint_id": "whep_xxx",
                  "attempt_number": 5,
                  "status": "PENDING",
                  "created_at": "2026-07-11T12:30:00Z",
                  "attempts": null
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "INSUFFICIENT_SCOPE (missing webhooks:write — a read-only key cannot change webhooks) or PAYMENTS_UNAVAILABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown delivery, or another project's delivery (NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency-Key header: IDEMPOTENCY_CONFLICT (a request with this key is still in flight) or IDEMPOTENCY_KEY_REUSED (the key was already used for a different request body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/proofs/{ref}": {
      "get": {
        "tags": [
          "receipts"
        ],
        "operationId": "verifyPublicProof",
        "summary": "Verify a receipt by its public proof reference",
        "description": "Public and unauthenticated: the reference is the capability. The current format is SECURE_V1 — BZM- followed by six groups of four symbols from 0-9 and A-Z without I, L, O and U (120 bits). Older eight-symbol references (BZM-XXXX-XXXX) still verify. Matching is EXACT: there is no normalisation, so lower-case letters, spaces or an extra hyphen answer 404 exactly like a reference that does not exist, on purpose. The same verification is the page https://banzami.com/r/{ref} that a receipt QR opens. Rate-limited per client. This is not the eight-character reference the Banzami app shows on a transfer, which is a display aid and does not verify.",
        "security": [],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^BZM(-[0-9A-HJKMNP-TV-Z]{4}){6}$|^BZM(-[0-9A-F]{4}){2}$"
            },
            "example": "BZM-XXXX-XXXX-XXXX-XXXX-XXXX-XXXX"
          }
        ],
        "responses": {
          "200": {
            "description": "Verified. Read `status`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicProof"
                }
              }
            }
          },
          "404": {
            "description": "No such receipt, or the reference was altered. Indistinguishable by design.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicProofMissing"
                },
                "example": {
                  "exists": false,
                  "status": "NOT_FOUND"
                }
              }
            }
          },
          "429": {
            "description": "Too many verifications from this client. Honour Retry-After."
          },
          "503": {
            "description": "Verification is temporarily unavailable. Do not conclude the receipt is forged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicProofMissing"
                },
                "example": {
                  "exists": false,
                  "status": "UNAVAILABLE"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Sandbox API key sent directly as the Bearer token (bz_test_sk_XXXX placeholder — never a real key in examples). bz_live_ keys are rejected fail-closed; there is no Production key issuance."
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string"
        },
        "example": "idem_xxx",
        "description": "Send on writes to retry safely. Sandbox behaviour: the original 2xx/4xx response is replayed for the same key for 24 hours (scoped per credential, method and path); 5xx responses are never replayed; concurrent requests with the same key receive 409 CONFLICT until the first completes."
      },
      "SessionId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "payment_session_xxx"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request (codes: INVALID_BODY, MISSING_FIELD, VALIDATION_ERROR, INVALID_PARAM, INVALID_AMOUNT)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "code": "VALIDATION_ERROR",
              "message": "amount_minor must be a positive integer",
              "request_id": "4f3c1b9a2e7d5086c1af03be7d2915ce"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing, invalid or revoked key (code UNAUTHORIZED)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "code": "UNAUTHORIZED",
              "message": "a valid Sandbox API key is required",
              "request_id": "4f3c1b9a2e7d5086c1af03be7d2915ce"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Insufficient scope or project without an active binding (code FORBIDDEN)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "code": "FORBIDDEN",
              "message": "insufficient scope",
              "request_id": "4f3c1b9a2e7d5086c1af03be7d2915ce"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource missing or outside your scope (code NOT_FOUND)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "code": "NOT_FOUND",
              "message": "not found",
              "request_id": "4f3c1b9a2e7d5086c1af03be7d2915ce"
            }
          }
        }
      },
      "Conflict": {
        "description": "Idempotency-Key in flight or state conflict (code CONFLICT)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "code": "CONFLICT",
              "message": "a request with this Idempotency-Key is already in progress — retry after it completes",
              "request_id": "4f3c1b9a2e7d5086c1af03be7d2915ce"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "description": "Canonical flat error envelope returned by every failing endpoint (observed Sandbox behaviour). Handle errors by code, never by message; keep request_id for support correlation.",
        "properties": {
          "code": {
            "type": "string",
            "description": "Stable UPPER_SNAKE error code (e.g. VALIDATION_ERROR, UNAUTHORIZED, FORBIDDEN, NOT_FOUND, CONFLICT, RATE_LIMITED, INTERNAL_ERROR)"
          },
          "message": {
            "type": "string",
            "description": "Human-readable message (not stable — do not branch on it)"
          },
          "request_id": {
            "type": "string",
            "description": "Correlation id for support (placeholder req_xxx in examples)"
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "MeResponse": {
        "type": "object",
        "properties": {
          "environment": {
            "type": "string",
            "enum": [
              "SANDBOX"
            ],
            "description": "Always SANDBOX — there is no Production surface"
          },
          "project": {
            "$ref": "#/components/schemas/ProjectRef"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "key_status": {
            "type": "string"
          }
        },
        "required": [
          "environment",
          "project",
          "scopes",
          "key_status"
        ]
      },
      "CreatePaymentSessionRequest": {
        "type": "object",
        "properties": {
          "wallet_account_id": {
            "type": "string",
            "description": "Which segregated account under YOUR owner receives the payment.\n\nWith a Developer Platform key: optional. Omit it and the payment credits your project's default account. Supply one of your own accounts to segregate (e.g. per campaign); an account belonging to another owner returns 404.\n\nYou may never name the OWNER: merchant_id, wallet_id, payee, payee_id and payee_wallet are rejected with 400 PAYEE_NOT_ALLOWED. The owner comes from your project's binding.\n\nWith a merchant credential: required."
          },
          "purpose": {
            "type": "string"
          },
          "reference_type": {
            "type": "string",
            "description": "Your business reference type"
          },
          "reference_id": {
            "type": "string",
            "description": "Your business reference id"
          },
          "amount_minor": {
            "type": "integer",
            "format": "int64",
            "description": "Amount in minor units (AOA)"
          },
          "currency": {
            "type": "string",
            "example": "AOA"
          },
          "description": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          }
        },
        "required": [
          "wallet_account_id",
          "purpose",
          "reference_type",
          "reference_id",
          "currency"
        ]
      },
      "PaymentSessionInterface": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "PAYMENT_LINK",
              "DEEP_LINK",
              "DYNAMIC_QR",
              "STATIC_QR"
            ]
          },
          "value": {
            "type": "string",
            "description": "For the QR interfaces, the hosted pay URL the QR encodes (https://pay.banzami.com/pay/{slug})."
          },
          "format": {
            "type": "string",
            "enum": [
              "URL",
              "QR_PAYLOAD"
            ]
          },
          "qr_url": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "required": [
          "type",
          "value",
          "format"
        ],
        "description": "One presentation of a payment session. Every interface resolves to the same session and credits the same wallet account. PAYMENT_LINK and DEEP_LINK carry URLs; DYNAMIC_QR (fixed amount) and STATIC_QR (open amount) carry the string to encode in the QR, which is the session's hosted pay URL. qr_url is the API path that renders that QR."
      },
      "PaymentSession": {
        "type": "object",
        "properties": {
          "session_id": {
            "type": "string"
          },
          "wallet_account_id": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "amount_minor": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "purpose": {
            "type": "string"
          },
          "reference_type": {
            "type": "string"
          },
          "reference_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "interfaces": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentSessionInterface"
            }
          },
          "refund_source": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true,
            "description": "Merchant-safe refund source; present only once the payment has settled"
          }
        },
        "required": [
          "session_id",
          "wallet_account_id",
          "currency",
          "purpose",
          "reference_type",
          "reference_id",
          "status",
          "created_at",
          "interfaces"
        ]
      },
      "CreatePaymentLinkRequest": {
        "type": "object",
        "properties": {
          "wallet_id": {
            "type": "string",
            "description": "Destination wallet"
          },
          "amount_minor": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "description": "Omit for an open-amount link"
          },
          "currency": {
            "type": "string",
            "example": "AOA"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "required": [
          "wallet_id",
          "currency"
        ]
      },
      "PaymentLink": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "amount_minor": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "currency": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "paid_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "merchant_name": {
            "type": "string"
          }
        },
        "required": [
          "slug",
          "currency",
          "status",
          "merchant_name"
        ]
      },
      "CreateWalletAccountRequest": {
        "type": "object",
        "required": [
          "purpose"
        ],
        "properties": {
          "wallet_id": {
            "type": "string",
            "description": "Merchant credential ONLY. With a Developer Platform key the wallet is derived from your project's binding and supplying this returns 400 PAYEE_NOT_ALLOWED — even when the value is your own wallet."
          },
          "purpose": {
            "type": "string",
            "example": "CAMPAIGN",
            "description": "Account purpose. PRIMARY is provisioned with the wallet and cannot be created."
          },
          "reference_type": {
            "type": "string",
            "description": "Your business reference type",
            "example": "DOA_CAMPAIGN"
          },
          "reference_id": {
            "type": "string",
            "description": "Your business reference id",
            "example": "campaign-a"
          },
          "label": {
            "type": "string",
            "example": "Campaign A"
          }
        }
      },
      "WalletAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "wallet_id": {
            "type": "string"
          },
          "purpose": {
            "type": "string"
          },
          "reference_type": {
            "type": "string",
            "nullable": true
          },
          "reference_id": {
            "type": "string",
            "nullable": true
          },
          "label": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "CreateWalletAccountTransferRequest": {
        "type": "object",
        "required": [
          "source_wallet_account_id",
          "destination_wallet_account_id",
          "amount_minor",
          "currency",
          "idempotency_key"
        ],
        "properties": {
          "source_wallet_account_id": {
            "type": "string",
            "description": "Source account. Must belong to your bound owner."
          },
          "destination_wallet_account_id": {
            "type": "string",
            "description": "Destination account. Must belong to your bound owner and differ from the source."
          },
          "amount_minor": {
            "type": "integer",
            "format": "int64",
            "minimum": 1,
            "description": "Amount in minor units (AOA). Zero and negative are refused."
          },
          "currency": {
            "type": "string",
            "example": "AOA"
          },
          "idempotency_key": {
            "type": "string",
            "description": "Required. Without it every retry would be a new transfer."
          },
          "description": {
            "type": "string"
          }
        }
      },
      "WalletAccountTransfer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "source_wallet_account_id": {
            "type": "string"
          },
          "destination_wallet_account_id": {
            "type": "string"
          },
          "amount_minor": {
            "type": "integer",
            "format": "int64"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "COMPLETED"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateRefundRequest": {
        "type": "object",
        "required": [
          "source_type",
          "source_id",
          "amount_minor",
          "currency",
          "idempotency_key"
        ],
        "properties": {
          "source_type": {
            "type": "string",
            "enum": [
              "ACQUIRING_PAYMENT",
              "WALLET_PAYMENT"
            ]
          },
          "source_id": {
            "type": "string",
            "description": "The payment being refunded."
          },
          "amount_minor": {
            "type": "integer",
            "format": "int64",
            "minimum": 1,
            "description": "Up to the source’s accrued cap."
          },
          "currency": {
            "type": "string",
            "example": "AOA",
            "description": "Validated against the source."
          },
          "idempotency_key": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "Refund": {
[...]
